/build*/
/src/anbox/build/config.h
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
cmake_install.cmake
install_manifest.txt
parts/
stage/
prime/
snap/.snapcraft
*.snap
CMakeLists.txt.user
*.o
.idea
.vscode
